<div class="app_container">
  <div class="app_header">
    <app-dice 
      (diceRolled)="onDiceRolled($event)" 
      (stepSelected)="onStepSelected($event)"
      (resetTurns)="onResetTurns()"
      [disabled]="diceRollingDisabled()"
      [stepSwitchingDisabled]="stepSwitchingDisabled()"
      [placementState]="placementState()"
    />
    <app-header
      (buttonClicked)="buildingSelected($event)"
      [selectedBuilding]="currentSelectedBuilding()"
      [selectionEnabled]="buildingSelectionEnabled()"
      [disabledBuildings]="disabledBuildings()"
    />
  </div>
  <div class="app_content">
    <div class="app_board">
      <app-game-board
        [currentRolls]="currentRolls()"
        [placementState]="placementState()"
        [selectedBuilding]="selectedBuildingForPlacement()"
        (placementStateChanged)="onPlacementStateChange($event)"
        (playAgain)="onPlayAgain()"
      />
    </div>
  </div>
</div>
