<div class="app_container">
  <div class="app_header">
    <app-dice (diceRolled)="onDiceRolled($event)" />
    <app-header
      (buttonClicked)="buildingSelected($event)"
      [selectedBuilding]="getCurrentSelectedBuilding()"
      [selectionEnabled]="isBuildingSelectionEnabled()"
      [disabledBuildings]="getDisabledBuildings()"
    />
  </div>
  <div class="app_board">
    <app-game-board
      #gameBoard
      [currentRolls]="currentRolls()"
      [placementState]="placementState()"
      [selectedBuilding]="getSelectedBuildingForPlacement()"
      (placementStateChanged)="onPlacementStateChange($event)"
    />
  </div>
</div>
