<div class="app_container">
  <div class="app_header">
    <app-dice 
      (diceRolled)="onDiceRolled($event)" 
      (stepSelected)="onStepSelected($event)"
      (resetTurns)="onResetTurns()"
      [disabled]="isDiceRollingDisabled()"
      [stepSwitchingDisabled]="isStepSwitchingDisabled()"
      [placementState]="placementState()"
      [firstTurnPlaced]="getFirstTurnPlaced()"
      [secondTurnPlaced]="getSecondTurnPlaced()"
    />
    <app-header
      (buttonClicked)="buildingSelected($event)"
      [selectedBuilding]="getCurrentSelectedBuilding()"
      [selectionEnabled]="isBuildingSelectionEnabled()"
      [disabledBuildings]="getDisabledBuildings()"
    />
  </div>
  <div class="app_content">
    <div class="app_board">
      <app-game-board
        #gameBoard
        [currentRolls]="currentRolls()"
        [placementState]="placementState()"
        [selectedBuilding]="getSelectedBuildingForPlacement()"
        (placementStateChanged)="onPlacementStateChange($event)"
      />
    </div>
    @if (isGameComplete()) {
      <div class="app_scoreboard">
        <app-scoreboard
          [footerScores]="getFooterScores()"
          [bonusStageRounds]="getBonusStageRounds()"
          [plazaBonus]="getPlazaBonus()"
          (playAgain)="onPlayAgain()"
        />
      </div>
    }
  </div>
</div>
