<div class="header_container">
  <button
    mat-fab
    [class.selected]="isSelected(Buildings.HOUSE)"
    [disabled]="isBuildingDisabled(Buildings.HOUSE)"
    (click)="onButtonClicked(Buildings.HOUSE)"
  >
    <lucide-icon name="house" />
  </button>

  <button
    mat-fab
    [class.selected]="isSelected(Buildings.LAKE)"
    [disabled]="isBuildingDisabled(Buildings.LAKE)"
    (click)="onButtonClicked(Buildings.LAKE)"
  >
    <lucide-icon name="waves" />
  </button>

  <button
    mat-fab
    [class.selected]="isSelected(Buildings.FOREST)"
    [disabled]="isBuildingDisabled(Buildings.FOREST)"
    (click)="onButtonClicked(Buildings.FOREST)"
  >
    <lucide-icon name="tree-deciduous" />
  </button>

  <button
    mat-fab
    [class.selected]="isSelected(Buildings.SQUARE)"
    [disabled]="true"
    (click)="onButtonClicked(Buildings.SQUARE)"
  >
    <lucide-icon name="flag-triangle-right" />
  </button>
</div>
